@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="mt-4">Satışlar</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/Home/Index/">Ana Sayfa</a></li>
    <li class="breadcrumb-item active">Satışlar</li>
</ol>
<div class="mb-4">
    <table id="tbl1" class="w3-table-all w3-hoverable table-bordered">
        <thead>
            <tr class="w3-light-grey">
                <th>Sno</th>
                <th>Tarih</th>
                <th>Cari</th>
                <th>Ürün</th>
                <th>Adet</th>
                <th>Fiyat</th>
                <th>Toplam Tutar</th>
                <th>Personel</th>
                <th>Güncelle</th>
                <th>Detaylar</th>
            </tr>
        </thead>
        @{ int z = 0; double toplam = 0;}
        @foreach (var x in Model)
        {
            <tr>
                <td>@{z++;} @z </td>
                <td>@(x.Tarih.ToString("dd.MM.yyyy"))</td>
                <td>@x.Cariler.CariAd @x.Cariler.CariSoyad</td>
                <td>@x.Urun.UrunAd</td>
                <td>@x.Adet</td>
                <td>@x.Fiyat.ToString("#,##0.00")</td>
                <td>@x.ToplamTutar.ToString("#,##0.00")</td>
                <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
                <td><a href="/Satis/SatisGetir/@x.Satisid" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Satis/SatisDetay/@x.Satisid" class="btn btn-primary">Detaylar</a></td>
                @{ toplam = toplam + Convert.ToDouble(x.ToplamTutar);}
            </tr>
        }        
    </table>
    <br />

</div>

<a href="/Satis/SatisEkle/" class="btn btn-primary">Satış Ekle</a>

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>
